snippet it
	it('${1:should} ${2:...}', function(){
		${0}
	});

snippet itt
	it('${1:should} ${2:...}', function(){
		${3}
	});

snippet exp
	expect(${1:thing}).to${2:Equal}(${3});

snippet be
	beforeEach(function () {
		${1}
	});

snippet des
	describe('${1:when} ${2:...}', function () {
		${0}
	});
